#python3.8 or python3.9
opencv-python>=4.8.1.78
torch==2.4.1+cu124
torchvision==0.19.1+cu124
scikit-image>=0.18.3
dominate>=2.6.0
numba==0.58.1
Click>=8.0.3
requests>=2.32.2
dask>=2021.11.2
visdom>=0.1.8.3
python-bioformats>=4.0.6
imagecodecs>=2023.3.16
zarr>=2.16.1